
<div class="app-container">

    <header>
      <nav class="nav">
        <div class="nav-container">
          <div class="menu-items-container">
            <div class="logo">
              <img src="./assets/logo.png">
            </div>
            <span class="menu-item white-color">Главная</span>
            <span class="menu-item white-color">О компании</span>
            <span class="menu-item white-color">Каталог</span>
          </div>
              <div class="header-info-container">
              <div class="call">
                <img src="/assets/call.svg" alt="call">
                <a class="tel" href="tel:+79650842929"> +7 (965) 084-29-29 </a>
                
              </div>
              <img class="header-info-item" 
              src="assets/hearticon.svg" 
              alt="favorites">
              <button class="cart-button header-info-container">
              <img 
              src="assets/buy.svg" 
              alt="cart">
            <div style="margin-left: 10px;">
              Пусто
            </div>  
            </button>
              </div>
      </div>
      </nav>
      
      <nav class="second-nav">
      
        <div class="second-nav-container">
          <div class="menu-items-container">
            <span class="menu-item">Каталог</span>
            <span class="menu-item">Стройматериалы</span>
            <span class="menu-item">Инструменты</span>
            <span class="menu-item">Электрика</span>
            <span class="menu-item">Интерьер и одежда</span>

          </div>
          <div class="menu-items-container">
            <input class="search-input" type="text" placeholder="Поиск, например Круг зачистной">
          </div>
          <div class="map">
            <img class="map-pin" src="./assets/map-pin.svg">
            <div class="moscow">Москва</div>
          </div>
        </div>

      </nav>
    </header>
    
      <div class="banner">
        
        <p class="slogan">Инструмент для вашего<br> бизнеса</p>
      </div>
    
<div class="content-container">
    <div class="content">
      <div class="advantages-container">
      <div class="advantage">
        <img src="/assets/brick.svg" alt="brick">
        <div class="advantage-content">
          <div class="advantage-content-title">Большой ассортимент</div>
          <div class="advantage-content-text">строительных материалов всегда в<br> наличии</div>
        </div>
        </div>
      </div>
      <div class="advantages-container">
      <div class="advantage">
        <img src="/assets/Mask group.svg" alt="kaz">
        <div class="advantage-content">
          <div class="advantage-content-title">Доставка стройматериалов</div>
          <div class="advantage-content-text">в течении четырех чаосв или в<br> любое удобное время</div>
        </div>
        </div>
      </div>
      <div class="advantages-container">
      <div class="advantage">
        <img src="/assets/Mask group(1).svg" alt="like">
        <div class="advantage-content">
          <div class="advantage-content-title">Многоуровневая система</div>
          <div class="advantage-content-text"> управления качеством по стандарту<br> ISO 9001</div>
        </div>
    
        </div>
      </div>
        </div>
        

    <div class="item-cards">
      <div class="item-cards__pagination">
        <button class="item-cards__pagination-button active-button">1</button>
        <button class="item-cards__pagination-button">2</button>
        <button class="item-cards__pagination-button">3</button>
        <button class="item-cards__pagination-button">4</button>
        <button class="item-cards__pagination-button">5</button>
      </div>
      </div>

    </div>
    
   
      

    <div class="popular-items">
      <div class="popular-items-text">
        <div class="popular-items-text-title"><b>Популярные товары</b></div>
        <div class="seeallitems"><b>Посмотреть все товары</b></div>
      </div>

      <div class="circle-items">
  
        <div class="circle-items-buy">
  
        <img class="circle" src="assets/image13.png">
        <p class="circle-size">Круг зачистной 125х6х22</p>
        <p class="circle-article">Артикул 00004</p>
          <div class="circle-price">
            <p class="circle-price-text">Цена за штуку</p>
            <div class="price">
              <p class="old-price">52 руб.</p>
              <p class="new-price">48 руб.</p>
            </div>
            <div class="buy">
              <div class="quantry">
                <div class="quantry-text">Количество</div>
                  <div class="how-quantry-container">
                    <p class="minus">-</p>
                    <p class="how-quantry">1</p>
                    <p class="plus">+</p>
                  </div>
                  </div>
                  <button class="button-buy">В корзину</button>
              </div>
          </div>
          
                
          </div>
        <div class="circle-items-buy">
  
        <img class="circle" src="assets/image13.png">
        <p class="circle-size">Круг зачистной 125х6х22</p>
        <p class="circle-article">Артикул 00004</p>
          <div class="circle-price">
            <p class="circle-price-text">Цена за штуку</p>
            <div class="price">
              <p class="old-price">52 руб.</p>
              <p class="new-price">48 руб.</p>
            </div>
            <div class="buy">
              <div class="quantry">
                <div class="quantry-text">Количество</div>
                  <div class="how-quantry-container">
                    <p class="minus">-</p>
                    <p class="how-quantry">1</p>
                    <p class="plus">+</p>
                  </div>
                  </div>
                  <button class="button-buy">В корзину</button>
              </div>
          </div>
          
                
          </div>
        <div class="circle-items-buy">
  
        <img class="circle" src="assets/image13.png">
        <p class="circle-size">Круг зачистной 125х6х22</p>
        <p class="circle-article">Артикул 00004</p>
          <div class="circle-price">
            <p class="circle-price-text">Цена за штуку</p>
            <div class="price">
              <p class="old-price">52 руб.</p>
              <p class="new-price">48 руб.</p>
            </div>
            <div class="buy">
              <div class="quantry">
                <div class="quantry-text">Количество</div>
                  <div class="how-quantry-container">
                    <p class="minus">-</p>
                    <p class="how-quantry">1</p>
                    <p class="plus">+</p>
                  </div>
                  </div>
                  <button class="button-buy">В корзину</button>
              </div>
          </div>
          
                
          </div>
        <div class="circle-items-buy">
  
        <img class="circle" src="assets/image13.png">
        <p class="circle-size">Круг зачистной 125х6х22</p>
        <p class="circle-article">Артикул 00004</p>
          <div class="circle-price">
            <p class="circle-price-text">Цена за штуку</p>
            <div class="price">
              <p class="old-price">52 руб.</p>
              <p class="new-price">48 руб.</p>
            </div>
            <div class="buy">
              <div class="quantry">
                <div class="quantry-text">Количество</div>
                  <div class="how-quantry-container">
                    <p class="minus">-</p>
                    <p class="how-quantry">1</p>
                    <p class="plus">+</p>
                  </div>
                  </div>
                  <button class="button-buy">В корзину</button>
              </div>
          </div>
          
                
          </div>
  
          </div>
        </div>

        <div class="names">
          
          
          <div class="names-text">
            <div class="names-text1">Более 10 000 наименований </div>
            <div class="names-text2">Инструмент для вашего бизнеса, разнообразных марок</div>
            <div class="names-text3">Перейти в каталог</div>

          </div>
          <img class="man" src="assets/man.png">
        </div>

    <div class="popular-items">
      <div class="popular-items-text">
        <div class="popular-items-text-title"><b>Новинки</b></div>
        <div class="seeallitems"><b>Посмотреть все товары</b></div>
      </div>

      <div class="circle-items">
  
        <div class="circle-items-buy">
  
        <img class="circle" src="assets/image13.png">
        <p class="circle-size">Круг зачистной 125х6х22</p>
        <p class="circle-article">Артикул 00004</p>
          <div class="circle-price">
            <p class="circle-price-text">Цена за штуку</p>
            <div class="price">
              <p class="old-price">52 руб.</p>
              <p class="new-price">48 руб.</p>
            </div>
            <div class="buy">
              <div class="quantry">
                <div class="quantry-text">Количество</div>
                  <div class="how-quantry-container">
                    <p class="minus">-</p>
                    <p class="how-quantry">1</p>
                    <p class="plus">+</p>
                  </div>
                  </div>
                  <button class="button-buy">В корзину</button>
              </div>
          </div>
          
                
          </div>
        <div class="circle-items-buy">
  
        <img class="circle" src="assets/image13.png">
        <p class="circle-size">Круг зачистной 125х6х22</p>
        <p class="circle-article">Артикул 00004</p>
          <div class="circle-price">
            <p class="circle-price-text">Цена за штуку</p>
            <div class="price">
              <p class="old-price">52 руб.</p>
              <p class="new-price">48 руб.</p>
            </div>
            <div class="buy">
              <div class="quantry">
                <div class="quantry-text">Количество</div>
                  <div class="how-quantry-container">
                    <p class="minus">-</p>
                    <p class="how-quantry">1</p>
                    <p class="plus">+</p>
                  </div>
                  </div>
                  <button class="button-buy">В корзину</button>
              </div>
          </div>
          
                
          </div>
        <div class="circle-items-buy">
  
        <img class="circle" src="assets/image13.png">
        <p class="circle-size">Круг зачистной 125х6х22</p>
        <p class="circle-article">Артикул 00004</p>
          <div class="circle-price">
            <p class="circle-price-text">Цена за штуку</p>
            <div class="price">
              <p class="old-price">52 руб.</p>
              <p class="new-price">48 руб.</p>
            </div>
            <div class="buy">
              <div class="quantry">
                <div class="quantry-text">Количество</div>
                  <div class="how-quantry-container">
                    <p class="minus">-</p>
                    <p class="how-quantry">1</p>
                    <p class="plus">+</p>
                  </div>
                  </div>
                  <button class="button-buy">В корзину</button>
              </div>
          </div>
          
                
          </div>
        <div class="circle-items-buy">
  
        <img class="circle" src="assets/image13.png">
        <p class="circle-size">Круг зачистной 125х6х22</p>
        <p class="circle-article">Артикул 00004</p>
          <div class="circle-price">
            <p class="circle-price-text">Цена за штуку</p>
            <div class="price">
              <p class="old-price">52 руб.</p>
              <p class="new-price">48 руб.</p>
            </div>
            <div class="buy">
              <div class="quantry">
                <div class="quantry-text">Количество</div>
                  <div class="how-quantry-container">
                    <p class="minus">-</p>
                    <p class="how-quantry">1</p>
                    <p class="plus">+</p>
                  </div>
                  </div>
                  <button class="button-buy">В корзину</button>
              </div>
          </div>
          
                
          </div>
          
      
    
          </div>
        </div>
    
  
    
  
  </div>
 

  <footer>
    <div class="container">
      <div class="dasement">
        <div class="logo-footer">
          <img src="assets/logo.png">
        </div>
        <div class="information">
          <div class="connection">
            <img class="call-footer" src="assets/call.svg">
            <div class="contact-tel">
              <div class="contact-tel-text">
                Контактный телефон
              </div>
              <div class="tel-1">
                + 7 (812) 309-09-34
              </div>
              <div class="tel-2">
                + 7 (812) 309-09-34
              </div>
            </div>
            <img class="sms" src="assets/mail.svg">
            <div class="contact-sms">
              <div class="contact-sms-text">
                Элекстронная почта
              </div>
              <div class="sms-1">
                tustin78mail.ru
              </div>
              <div class="sms-2">
                inftustin.ru
              </div>
              

            </div>

          </div>



          <div class="questions">
              <div class="questions-text">
                <div class="question">
                  Остались вопросы?
                </div>
                <p class="comment">
                  Узнавайте первым о скидках, предложениях и событиях еженедельно в<br>
                   своем почтовом ящике. Отпишитесь в любое время одним щелчком мыши.
                </p>
                <div class="input">

<div class="input-mail">
  <img class="mail" src="assets/mail.svg">
  <input class="input-question" type="text" placeholder="Введите свою почту">
</div>

                  
          
                  <button class="send">Отправить</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>  
    <div class="footer-nav-section">
      <div class="footer-menu">
        <div class="footer-menu-text">
          <div class="menu-footer">Главная</div>
          <div class="menu-footer">О компании</div>
          <div class="menu-footer">Каталог</div>
        </div>
        <div class="last-nav">
          <div class="social-icons">
            <img src="assets/facebook.png" alt="facebook">
            <img src="assets/youtube.png" alt="youtube">
            <img src="assets/whatsapp.png" alt="whatsapp">
            
          </div>
          <div class="copyright">© 2000-2021, All rights reserved</div>
            
        </div>
      </div>

    </div>
 
    
  </footer>


