<div class="app-container">
  <div class="content-container">
    <header>
      <nav class="nav">
        <div class="nav-container">
          <div class="menu-items-container">
            <div class="logo">
              <img src="./assets/logo.png">
            </div>
            <span class="menu-item white-color">Главная</span>
            <span class="menu-item white-color">О компании</span>
            <span class="menu-item white-color">Каталог</span>
          </div>
              <div class="header-info-container">
              <div class="call">
                <img src="/assets/call.svg" alt="call">
                <a class="tel" href="tel:+79650842929"> +7 (965) 084-29-29 </a>
                
              </div>
              <img class="header-info-item" 
              src="assets/hearticon.svg" 
              alt="favorites">
              <button class="cart-button header-info-container">
              <img 
              src="assets/buy.svg" 
              alt="cart">
            <div style="margin-left: 10px;">
              Пусто
            </div>  
            </button>
              </div>
      </div>
      </nav>
      
      <nav class="second-nav">
      
        <div class="second-nav-container">
          <div class="menu-items-container">
            <span class="menu-item">Каталог</span>
            <span class="menu-item">Стройматериалы</span>
            <span class="menu-item">Инструменты</span>
            <span class="menu-item">Электрика</span>
            <span class="menu-item">Интерьер и одежда</span>

          </div>
          <div class="menu-items-container">
            <input class="search-input" type="text" placeholder="Поиск, например Круг зачистной">
          </div>
          <div class="map">
            <img class="map-pin" src="./assets/map-pin.svg">
            <div class="moscow">Москва</div>
          </div>
        </div>

      </nav>
    </header>
    </div>
      <div class="banner">
        
        <p class="slogan">Инструмент для вашего<br> бизнеса</p>
      </div>
    

    <div class="content">
      <div class="advantages-container">
      <div class="advantage">
        <img src="/assets/brick.svg" alt="brick">
        <div class="advantage-content">
          <div class="advantage-content-title">Большой ассортимент</div>
          <div class="advantage-content-text">строительных материалов всегда в наличии</div>
        </div>
        </div>
      </div>
      <div class="advantages-container">
      <div class="advantage">
        <img src="/assets/Mask group.svg" alt="kaz">
        <div class="advantage-content">
          <div class="advantage-content-title">Доставка стройматериалов</div>
          <div class="advantage-content-text">в течении четырех чаосв или в любое удобное время</div>
        </div>
        </div>
      </div>
      <div class="advantages-container">
      <div class="advantage">
        <img src="/assets/Mask group(1).svg" alt="like">
        <div class="advantage-content">
          <div class="advantage-content-title">Многоуровневая система</div>
          <div class="advantage-content-text"> управления качеством по стандарту ISO 9001</div>
        </div>
    
        </div>
      </div>
        </div>
        

    <div class="item-cards">
      <div class="item-cards__pagination">
        <button class="item-cards__pagination-button active-button">1</button>
        <button class="item-cards__pagination-button">2</button>
        <button class="item-cards__pagination-button">3</button>
        <button class="item-cards__pagination-button">4</button>
        <button class="item-cards__pagination-button">5</button>
      </div>
      </div>

    <div class="item-cards__grid">
      <div class="item-cards__grid-left">
        <div class="item-cards__grid-left-text">
          Строительный отделочный<br> инструмент
        </div>
        <div class="item-cards__grid-left-action">
          <div class="katalog">Перейти в каталог</div>
            <img src="assets/Frame_20.png">
        </div>
      </div>
      
      <div class="section2">
        <div class="section-emal size section-shadow ">
        <div class="section-emal1  section1-title">Эмали
        </div>
        <div class="section1-text">
          <p class="section1-p">Перейти в каталог
            <img class="arrow" src="/assets/arrow.svg" alt="arrow">
          </p>
        </div>
        
      </div>
        <div class="section-emal size section-shadow ">
        <div class="section-emal  section1-title">Лакокрасочные материалы
        </div>
        <div class="section1-text">
          <p class="section1-p">Перейти в каталог
            <img class="arrow" src="/assets/arrow.svg" alt="arrow">
          </p>
        </div>
        
      </div>
        <div class="section-emal  size section-shadow ">
        <div class="section-emal section1-title">Пены, клеи и герметики
        </div>
        <div class="section1-text">
          <p class="section1-p">Перейти в каталог
            <img class="arrow" src="/assets/arrow.svg" alt="arrow">
          </p>
        </div>
        
      </div>
        <div class="section-emal size section-shadow ">
        <div class="section-emal  section1-title">Розетки и выключатели
        </div>
        <div class="section1-text">
          <p class="section1-p">Перейти в каталог
            <img class="arrow" src="/assets/arrow.svg" alt="arrow">
          </p>
        </div>
        
      </div>
    </div>
    
    </div>
    ----------------

    <div class="popular-items">
    <div class="popular-items-text">
      <div class="popular-items-text-title"><b>Популярные товары</b></div>
      <div class="seeallitems"><b>Посмотреть все товары</b></div>
    </div>
    <div class="circle-items">

      <div class="circle-items-buy">

      <img class="circle" src="assets/image13.png">
      <p class="circle-size">Круг зачистной 125х6х22</p>
      <p class="circle-article">Артикул 00004</p>
        <div class="circle-price">
          <p class="circle-price-text">Цена за штуку</p>
          <div class="price">
            <p class="old-price">52 руб.</p>
            <p class="new-price">48 руб.</p>
          </div>
        </div>
        <div class="buy">
          <div class="quantry">
            <div class="quantry-text">Количество</div>
              <div class="how-quantry-container">
                <p class="minus">-</p>
                <p class="how-quantry">1</p>
                <p class="plus">+</p>
              </div>
          
              </div>
          </div>
              <button class="button-buy">В корзину</button>
        </div>
    
  
        </div>
      </div>
      
    </div>
  </div>
  <footer>  
  </footer>


